<h2>All Festivals</h2>

<% @festivals.each do |f| %>
  <p><h4><%= link_to f.name, festival_path(f.id) %> - <%= f.city.name %>, <%= f.city.state %></h4>
  <%= link_to "Write a review", new_festival_review_path(f.id)%></p>
<hr>
<% end %>
